<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chris Hailey Porfolio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Neonderthaw&family=Open+Sans:wght@400;700&family=Staatliches&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link rel="stylesheet" href="../public/assets/CSS/style.css" />
</head>

<!-- About me Section -->
<section id="about-me" class="about-me">
  <div>
    <h2 class="section-title">About Me</h2>
  </div>
  <br />
  <div>
    <p>
      I'm Chris Hailey. A web developer from Memphis, Tennessee with a passion
      for connecting the community. My first loves were live music and the
      outdoors... both for their unique ability to make you feel connected to
      something greater. They can bring a community together. This is what I aim
      to accomplish as a web developer. Through clear cut, visually pleasing and
      engaging design, we can build a platform that leaves people feeling
      connected to something greater.
      <br />
      THIS has been my pursuit for the last three years of my life. I've been
      traveling the world to learn, listen and connect with those that are
      different from me. Now I aim to bring these communities together through
      innovative web design.
    </p>
  </div>
</section>