* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(17, 16, 16);
  color: white;
}
/* Header selectors */

/* Navigation bar selectors */
header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul a {
  font-family: fantasy;
  padding: 10px 15px;
  font-size: 2.5vw;
  text-decoration: none;
  font-weight: bolder;
}
header nav ul a:hover {
  border-radius: 15px;
  text-shadow: none;
}
header h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  font-family: fantasy;
}
header h2 {
  display: flex;
  justify-content: center;
}
/* Hero/jumbotron Selectors */
.hero {
  display: flex;
  justify-content: center;
  padding: 65px;
  background-position: bottom;
  align-items: flex-start;
}
.hero-content {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  border-width: 4px;
}

/* About Me selectors */
.about-me {
  margin: 20px;
  display: inline-block;
}
.about-img {
  display: flex;
  justify-content: center;
}

.about-me p {
  display: block;
  flex-wrap: wrap;
  line-height: 1.5;
}

.about-me section {
  text-align: center;
}
/* Image selectors */

.projects-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.img-thumbnail {
  max-width: 30vw;
  height: 30vh;
}
.img-class {
  align-items: center;
}

.section-title {
  border-bottom: 4px solid black;
  font-family: "Abril Fatface", cursive;
  text-align: center;
}
.img-title {
  font-family: "Abril Fatface", cursive;
  text-align: center;
}
/* Contact form selectors */
.contact-form input,
.contact-form textarea {
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}
.contact-form label {
  display: block;
  text-align: center;
}
.contact-form button {
  width: 100%;
  border: none;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}
.contact-form button:hover {
  background: black;
}

/* tabs */
#tabs-swipe-demo {
  swipeable: true;
}
/* media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
  body {
    overflow-x: hidden;
  }
  .about-me {
    margin: 0px;
  }
  section {
    padding: 0px;
  }
  .about-me img {
    width: 100%;
  }
  .about-me p {
    display: block;
  }
  header nav ul li a {
    font-size: 13px;
  }
  .about-me {
    width: 100%;
  }
}
